<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>Admin</title>
<%- include('../partials/head'); %>
<!-- Custom styles for this template-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link href="/css/sb-admin-2.min.css" rel="stylesheet">


<script>
  $(document).ready(function(){

});

  var total=0;
</script>


</head>
<body class="container-fluid">

<header>
  <%- include('../partials/adminheader'); %>



</header>

<div class="jumbotron"><main>
            <thead>
              <div class="card mb-4">
                <div class="card-body p-4">
                <div class="row">
                <div class="col">
                <div class="card-title fs-4 fw-semibold">Manage active users</div>
                <div class="card-subtitle text-disabled mb-4"><%= activeCount%> users</div>
                </div>
                <div class="col-auto ms-auto">
                <button class="btn btn-primary btn-sm">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add a new user
                </button>
                </div>
                </div>
                <div class="table-responsive">
                <table class="table mb-0">
                <thead class="fw-semibold text-disabled">
                <tr class="align-middle">
                <th class="text-center">#</th>
                <th class="text-center">User</th>
                <th>

                </th>
                <th class="text-nowrap">Email</th>
                <th>Address</th>
                <th>CNIC</th>
                <th></th>
                <th>Status</th>
                <th>Action</th>

                </tr>
            </thead>
            <tbody>
          
              <% var count=1; users.forEach(function(user) { %>

                <% if (user.status=='active') { %>
   
                  <tr class="align-middle">

                    <td class=" align-middle text-center">
                    <div class="avatar avatar-md"><span><%= count%></span></div>
                    </td>
    
                    <td class="text-center">
                    <div class="align-middle avatar avatar-md"><img src="/uploads/images/<%=user.profileImg%>" height="45" width="45" style="border-radius: 50%"   alt=""></span></div>
                    </td>
    
                    <td>
                    <div class="text-nowrap"><%= user.firstname%> <%= user.lastname%></div>
                    <div class="small text-medium-emphasis text-nowrap"><%= user.type%> | Registered: <%= user.createdAt%></div>
                    <div class="small text-medium-emphasis text-nowrap mt-1"><%= user._id%></div>

                    </td>
    
                    <td class="text-nowrap align-middle">
                      
                        <span><small class="text-medium-emphasis"><%= user.email%></small></span>                    
                    </td>
    
                    <td class="align-middle">
                    <div class="text-nowrap "><small class="text-medium-emphasis"><%= user.address.street%>, <%= user.address.city%></small></div>
                    <div class="text-nowrap "><small class="text-medium-emphasis"><%= user.address.state%>, <%= user.address.country%></small></div>
                    </div>   
                    </td>
    
                    <td class="align-middle">   
                    <div class="fw-semibold text-nowrap "><a href="/uploads/images/<%=user.cnic%>" download="<%= user.firstname%> <%= user.lastname%> CNIC">Download</a></div>
                    </td>
                    <td text-nowrap align-middle>
                        <% if (user.status=='active') { %>
                          
                            <td class="align-middle"> <span class="status badge bg-success"><%= user.status%></span></td>
               
                            
                            <%} else { %>
                              <td class="align-middle"><span class="status text-danger">•</span> <%= user.status%></td><% } %>   
                    </td>
    
                    <td class="align-middle">
                        <a href="/users/admin/manageusers/disable/<%= user._id%>"> <i class="fa fa-lock text-dark" aria-hidden="true"></i> </a>
                        <a href="/users/admin/manageusers/enable/<%= user._id%>"> <i class="fa fa-unlock-alt text-secondary" aria-hidden="true"></i></a>
                        <a href="/users/admin/manageusers/adminrights/<%= user._id%>"><i class="fa fa-user-secret text-success" aria-hidden="true"></i></a>
                        <a href="/users/admin/manageusers/delete/<%= user._id%>"> <i class="fa fa-trash text-danger" aria-hidden="true"></i> </a>
                        <a href="/users/admin/manageusers/confirmdonation/<%= user._id%>">                         <i class="fa fa-check text-info" aria-hidden="true"></i>
                        </a>
                        <i class="fas fa-hands-helping    "></i>
                    </td>
    
                    </tr>

                    <%count++;%>
      
                  <%} 
                  else { %>
                    <% } %>  
   
  
             
              <% }); %> 
            </tbody>
        </table>        
    </div>
</div>
    

 
</main></div>




</body>


</html>